<div class="container mt-4">

    <h2 class="text-primary mb-3">Add New Department</h2>

    <form action="/departments" method="POST" class="card p-4 shadow">

        <div class="mb-3">
            <label class="form-label">Department Name</label>
            <input type="text" name="name" class="form-control" required placeholder="Enter department name">
        </div>

        <button class="btn btn-success mb-3">Save</button>

        <a href="/departments" class="btn btn-secondary">Cancel</a>

    </form>

</div>

